/.idea/
/.github.json
/builds/latest/remede.deb
/builds/latest/remede.rpm
/builds/latest/remede.exe
/builds/latest/remede.nupkg
/builds/latest/remede.dmg
/docs/.jekyll-cache/
/docs/_site/
/data/remede.db
/data/remede-less.db
/data/remede.*.db
/data/missing-wordlist.txt
/builds/*.exe
/builds/*.msi
/convert/dictionaries/
