
@font-face {
    font-family: "Amiko";
    src: url("./Amiko-Bold.ttf");
}

@font-face {
    font-family: "IBMPlexSerif";
    font-weight: normal;
    src: url("./IBMPlexSerif-Regular.ttf");
}

@font-face {
    font-family: "IBMPlexSerif";
    font-weight: bold;
    src: url("./IBMPlexSerif-Bold.ttf");
}

:root {
    --text: #000000;
    --bg: #f5f5f5;
    --bg-light-alt: #e5e5e5;
    --bg-alt: #FFFFFF;
    --grey: #9995A4;
    --border: #DCDCDD;
    --primary: #3880ff;
    --active: #4c8dff;
    --secondary: #2dd36f;
    --secondary-active: #42d77d;
}


body {
    max-width: 100vw;
    overflow: hidden;
    color: var(--text) !important;
    background-color: var(--bg) !important;
    min-height: 100vh;
    font-family: "Amiko", sans-serif;
}

h4 {
    font-family: "IBMPlexSerif", serif;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    border-bottom: .55px var(--border) solid;
    position: fixed;
    width: 100%;
}

.section.is-full {
    width: 100%;
    margin: 0;
    border-bottom: .55px var(--border) solid;
}

.section.is-full .columns {
    min-width: 60% !important;
}

.has-text-primary {
    color: var(--primary) !important;
}

a.has-text-primary:hover {
    color: var(--active) !important;
}

.button.is-primary {
    background-color: var(--primary);
}

.button.is-primary:hover, .button.is-primary:active, .button.is-primary:focus {
    background-color: var(--active);
}

.button.is-outlined.is-primary {
    border-color: var(--primary);
    color: var(--primary);
}

.button.is-outlined.is-primary:hover, .button.is-outlined.is-primary:focus {
    background-color: var(--primary);
    border-color: var(--active);
    box-shadow: 0 0 0 .125em rgba(56, 128, 255, 0.25) !important;
}

.button.is-outlined.is-primary:hover .has-text-primary {
    color: #FFFFFF !important;
}

.has-text-warning {
    color: #dcb248 !important;
}

.columns.centered {
    width: max-content;
    margin: auto;
}

.has-text-secondary {
    color: var(--secondary) !important;
}

a.has-text-secondary:hover {
    color: var(--secondary-active) !important;
}

.title.is-large {
    font-size: 4em;
}

h1, h3 {
    font-family: "Amiko", sans-serif;
    font-weight: bolder;
    color: var(--text) !important;
}

.is-family-secondary {
    font-family: "IBMPlexSerif", serif !important;
}

a {
    font-weight: bold;
}

h2, h2 + .subtitle {
    font-weight: bold;
}

.icon  {
    margin-top: .5em;
    margin-right: .2em;
    color: var(--primary);
    text-shadow: var(--text);
}

.size-1-5x {
    font-size: 1.5em;
}

.icon.secondary {
    color: var(--secondary);
}

.icon.green {
    color: #366e1f;
}

a:not(.button) {
    color: var(--primary) !important;
}

a:not(.button):hover {
    color: var(--active) !important;
}

.columns {
    max-width: 920px;
}

.image.is-small {
    height: 28em;
}

.image.is-h.is-small {
    height: 1.5em;
}

.is-centered {
    margin: auto;
}

.dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus {
    cursor: pointer;
    background-color: var(--bg-light-alt);
}

.button.is-outlined:hover .icon svg, .button.is-outlined:focus .icon svg, .button.is-outlined:active .icon svg {
    color: var(--bg) !important;
}

.is-20x20 {
    width: 20px;
    height: 20px;
}

.container.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company {
    transition: .2s ease-in-out;
    opacity: .7;
}

.company:hover {
    opacity: 1;
}

.container .columns.no-mg {
    margin: 0 !important;
    max-width: 100%;
}

.box.transparent {
    background-color: transparent;
    border: none
}

.box {
    background-color: var(--bg-alt);
    box-shadow: none;
    border: .55px solid var(--border);
    border-radius: 6px;
    color: var(--text);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4em;
    padding: 0;
}

.box .details {
    padding: 2.5em;
}

.box .details.center {
    text-align: center;
}

.box .icon {
    margin-bottom: .5em;
    margin-left: .5em;
}

.box div {
    margin-left: .4em;
}

.box img {
    border-radius: 6px;
    max-height: 250px;
    object-fit: cover;
}

.box img.is-small {
    height: 3em;
}

.box .image.stacked {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: end;
}

.box .image.stacked.center {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.box .image.stacked img {
    max-width: 75%;
    max-height: 100%;
    object-fit: cover;
    object-position: bottom;
    width: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.box .image.stacked.multiple {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.box .image.stacked.multiple img {
    flex: .5;
    width: 50%;
    max-height: 100%;
    height: 100%;
    object-fit: contain;
}

.box .image {
    width: 50%;
    height: auto;
    margin: 2.5em;
}

.box.img {
    background-color: transparent;
    border: none;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: visible;
}

.box.img img {
    height: 100%;
    width: auto;
    min-height: 100%;
    object-fit: contain;
}

.gapless {
    gap: 0;
}

.image.hover img {
    transition: .2s ease-in-out;
}

.image.hover img:hover {
    transform: translateY(-5%);
}

.columns.center {
    margin-left: auto;
    margin-right: auto;
}

.columns.is-5 {
    gap: 1rem;
}

.columns.is-5 .column.is-one-third {
    width: calc(33.333333% - 1rem);
}

.column.card {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-alt);
    border: .55px var(--border) solid;
    border-radius: 5px;
    box-shadow: none;
    margin: 0 !important;
}

.is-32x32 {
    width: 32px !important;
    margin: 0 !important;
    margin-bottom: .5em !important;
}

.box .image.vertical {
    width: 30%;
    height: auto;
}

.icon-hover {
    transition: .5s ease-in-out;
}

.icon-hover:hover {
    scale: 1.1;
    cursor: pointer;
}

footer p {
    font-family: "Amiko", sans-serif;
}

.icon img {
    height: 3em;
    width: 3em;
}

.columns.is-multiline {
    margin: auto;
}

@media (min-width: 1024px) {
    .navbar {
        width: 100%;
        padding-left: 20%;
        padding-right: 20%;
        margin: auto;
    }

    .section.is-full h1:not(.no-mg) {
        margin-left: 20%;
    }

    .container {
        width: 60% !important;
    }
}

@media (max-width: 1024px) {
    .no-mg-mobile {
        margin: 0 !important;
    }

    .title.is-large {
        font-size: 3em;
    }

    .level-item a {
        font-size: .7em;
    }

    .is-justify-content-right:not(.also-mobile) {
        justify-content: center !important;
    }
}
